<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dashboardItems</key>
	<array>
		<dict>
			<key>name</key>
			<string>New Order</string>
			<key>image</key>
			<string>1-swipe-dashboard</string>
			<key>imagehover</key>
			<string>1-swipe-dashboard</string>
			<key>segue</key>
			<string>newOrderSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Orders</string>
			<key>image</key>
			<string>2-orders-dashboard</string>
			<key>imagehover</key>
			<string>2-orders-dashboard</string>
			<key>segue</key>
			<string>ordersSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CRM</string>
			<key>image</key>
			<string>3-crm-dashboard</string>
			<key>imagehover</key>
			<string>3-crm-dashboard</string>
			<key>segue</key>
			<string>crmSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Project Manager</string>
			<key>image</key>
			<string>4-projectmanager-dashboard</string>
			<key>imagehover</key>
			<string>4-projectmanager-dashboard</string>
			<key>segue</key>
			<string>project_manager_segue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Affiliates</string>
			<key>image</key>
			<string>5-affiliate-dashboard</string>
			<key>imagehover</key>
			<string>5-affiliate-dashboard</string>
			<key>segue</key>
			<string>affiliateSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Products</string>
			<key>image</key>
			<string>6-products-dashboard</string>
			<key>imagehover</key>
			<string>6-products-dashboard</string>
			<key>segue</key>
			<string>product_segue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Schedule</string>
			<key>image</key>
			<string>7-schedule-dashboard</string>
			<key>imagehover</key>
			<string>7-schedule-dashboard</string>
			<key>segue</key>
			<string>scheduleSegue</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Account</string>
			<key>image</key>
			<string>8-account-dashboard</string>
			<key>imagehover</key>
			<string>8-account-dashboard</string>
			<key>segue</key>
			<string>accountSegue</string>
		</dict>
	</array>
</dict>
</plist>
